In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'data/BTC-USD (3).csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-03-27,55137.566406,56568.214844,54242.910156,55973.511719,55973.511719,47266542233
1,2021-03-28,55974.941406,56610.312500,55071.113281,55950.746094,55950.746094,47686580918
2,2021-03-29,55947.898438,58342.097656,55139.339844,57750.199219,57750.199219,57625587027
3,2021-03-30,57750.132813,59447.222656,57251.550781,58917.691406,58917.691406,54414116432
4,2021-03-31,58930.277344,59930.027344,57726.417969,58918.832031,58918.832031,65520826225
...,...,...,...,...,...,...,...
362,2022-03-24,42886.652344,44131.855469,42726.164063,43960.933594,43960.933594,31042992291
363,2022-03-25,43964.546875,44999.492188,43706.285156,44348.730469,44348.730469,30574413034
364,2022-03-26,44349.859375,44735.996094,44166.273438,44500.828125,44500.828125,16950455995
365,2022-03-27,44505.355469,46827.546875,44437.292969,46820.492188,46820.492188,28160889722
366,2022-03-28,46821.851563,48086.835938,46690.203125,47128.003906,47128.003906,36362175703

In [39]:
print(int(np.where(df['Date'] == '2022-03-24')[0]))

362